.signup-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.signup-title {
  text-align: center;
  margin-bottom: 20px !important;
}

.signup-form {
  margin-top: 10px;
}
p{
    margin-left: 100px;
    color:red;
}
